{% extends 'base/base.html' %}
{{error}}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">ایجاد طرح پژوهشی جدید</h2>
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6 p-2 m-auto">
            <div class="card text-center">
                <div class="card-body">
                    {{form}}
                    <button type="submit" class="btn outlined dashed c-success o-success btn-block fnt-x mt-5">ذخیره</button>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock %}