{% extends 'base/base.html' %} {% block content %}

{% include "base/title.html" with title=research_project.project.title subtitle=research_project.organization|add:"/"|add:research_project.supervisor button_text="ویرایش" button_link=research_project.get_absolute_url|add:"update/" %}
{% for section in sections %}
<div class="row">
  <div
    class="page-header breadcrumb-header f-white outlined o-link c-main p-3 mr-2 ml-2 m-2"
  >
    <div class="row align-items-end">
      <div class="col-lg-12">
        <div class="page-header-title">
          <div class="d-inline">
            <h3 class="lite-text">{{ section.title }}</h3>
            <span class="lite-text">
              <p>{{ section.content|safe }}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} 
<div class="row">
  <div
    class="page-header breadcrumb-header f-white outlined o-link c-main p-3 mr-2 ml-2 m-2"
  >
    <div class="row align-items-end">
      <div class="col-lg-12">
        <div class="page-header-title">
          <div class="d-inline">
            <div class="row">
              <div class="col-10">
                <h3 class="lite-text">منابع</h3>
              </div>
              <div class="col-2 p-2">
                <div class="c-grey text-center m-auto col-12">
                  <button type="button" data-target="#NewReference" data-toggle="modal" class="btn outlined dashed c-second o-second btn-block fnt-xxs"> منبع جدید</button>
                </div>
            </div>
            </div>
            
            <span class="lite-text">
              <table id="Article_list_Table" class="display">            
                <thead>
                    <tr class="text-center">
                        <th class="">ردیف</th>
                        <th class="">
                            <input type="text" class="form-control filter-input-Article_list_Table " data-column="1" placeholder="عنوان">
                        </th>
                        <th class="">
                            <input type="text" class="form-control filter-input-Article_list_Table" data-column="2" placeholder="نام">
                        </th>
                        <th class="">
                            <input type="text" class="form-control filter-input-Article_list_Table" data-column="3" placeholder="دانشگاه">
                        </th>
                        <th class="">
                            <input type="text" class="form-control filter-input-Article_list_Table" data-column="4" placeholder="استاد">
                        </th>
                        <th class="">ویرایش</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in research_projects_list %}
                    <tr class="text-center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ project.project.title }}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.organization }}</td>
                        <td>{{ project.supervisor }}</td>
                        <td>
                            <a href="/ResearchProject/{{project.id}}" type="button" class="btn outlined c-second o-second btn-block fnt-xxs ">ویرایش<div class="ripple-container"></div></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "base/modal.html" with modal_id="NewReference" modal_label="exampleModalLabel" modal_title="منبع جدید" modal_body="<div class='form-group bmd-form-group'> <label class='bmd-label-static'>DOI مقاله را وارد کنید</label> <input type='type' class='form-control' placeholder='DOI'> </div>" modal_action_button=True modal_action_text="ذخیره" modal_action_type="button" %}

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        // اختصاص DataTable به متغیر table
        var table = $('#Article_list_Table').DataTable({
            "paging": false, // فعال کردن صفحه‌بندی
            "searching": true, // فعال کردن جستجو
            "ordering": false, // فعال کردن مرتب‌سازی
            "info": false // نمایش اطلاعات صفحه
        });
        // افزودن رویداد فیلتر به inputها و selectها
        $('.filter-input-Article_list_Table').on('keyup change', function() {
            table.column($(this).data('column')).search(this.value).draw();
        });
    });

    $(document).ready(function() {
      $('#NewReference').click(function() {
          const doi = $('#doiInput').val();
          const projectId = {{ project.id }}; // یا از طریق data attribute دریافت کنید
          
          if (!doi) {
              $('#doiResult').html('<div class="alert alert-danger">لطفا DOI را وارد کنید</div>');
              return;
          }
          
          $.ajax({
              url: '/projects/' + projectId + '/add-reference-with-doi/',
              method: 'POST',
              data: {
                  'doi': doi,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              beforeSend: function() {
                  $('#doiResult').html('<div class="alert alert-info">در حال پردازش...</div>');
                  $('#submitDoi').prop('disabled', true);
              },
              success: function(response) {
                  if (response.success) {
                      $('#doiResult').html(`
                          <div class="alert alert-success">
                              <strong>منبع با موفقیت اضافه شد!</strong><br>
                              عنوان: ${response.title}<br>
                              نویسندگان: ${response.authors}<br>
                              کلید استناد: ${response.citation_key}
                          </div>
                      `);
                      // رفرش کردن لیست منابع (اگر جدول دارید)
                      // location.reload(); // یا به روز رسانی بخشی از صفحه
                  } else {
                      $('#doiResult').html(`<div class="alert alert-danger">${response.error}</div>`);
                  }
              },
              error: function(xhr) {
                  const error = xhr.responseJSON ? xhr.responseJSON.error : 'خطای سرور';
                  $('#doiResult').html(`<div class="alert alert-danger">${error}</div>`);
              },
              complete: function() {
                  $('#submitDoi').prop('disabled', false);
              }
          });
      });
  });
</script>
{% endblock %}
