{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">ایجاد پروژه جدید</h2>
    
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6 p-2 m-auto">
            <div class="card text-center">

                <div class="card-body">
                    <h5 class="card-title c-danger">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to
                        additional content.</p>

                    <button type="submit" class="btn outlined dashed c-success o-success btn-block fnt-x">ذخیره</button>
                </div>
            </div>
        </div>
        {% csrf_token %}
        {% comment %} {{form}} {% endcomment %}
        
    </form>
</div>

{% endblock %}