{% extends 'base/base.html' %}
{% block content %}

{% include "base/title.html" with title="داشبورد" subtitle="گزارش ها و آمار" button_text="پروژه جدید" button_link="/projects/create/" %}
<div class="row mb-2">
    {% for project_type, projects in project_dict.items %}
        {% for project in projects %}
            <div class="col-xl-3 col-md-6 col-sm-6 p-2">
                <div class="box-card macro animate__animated animate__flipInY   "><i class="fab far fa-chart-bar c-first" aria-hidden="true"></i>
                    <span>{{ project.type }}</span>
                    <p class="mt-1 mb-1">{{ project.title }}</p>
                    <a class="btn c-first text-center">مشاهده</a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script>
    // Code
</script>
{% endblock %}